[Unit]
Description=wildcert

[Service]
User=deployer
WorkingDirectory=/services/wildcert
ExecStart=/services/wildcert/run
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target